<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  {{include '../_includes/header.html'}}
  <section class="container">
  <div class="row">
    <div class="col-md-5">
      <form id="from">
        <div class="form-group">
          <input type="hidden"  id="hd" value="{{ topic.id }}">
          <label for="exampleInputEmail1">选择板块</label>
          <select name="categoryId" id="categoryId" class="form-control">
            {{each categories}}
              {{if $value.id == topic.categoryId}} 
                <option selected value="{{$value.id}}">{{$value.name}}</option>
              {{else}}
                <option value="{{$value.id}}">{{$value.name}}</option>
              {{/if}}
            {{/each}}
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">标题</label>
          <input type="text" value="{{topic.title}}" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">内容</label>
          <textarea class="form-control" rows="10">{{topic.content}}</textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</section>
  {{include '../_includes/footer.html'}}
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script>
    $('#from').submit(function(e){
      // 阻止表单默认事件
      e.preventDefault();
      var formData = $(this).serialize();
      var id = $('#id').val();
      $.post('/topic/'+id +'/edit',formData,function(data) {
        if (data.code == 200) {
          location.href = '/';
        } else {
          alert(data.msg);
        }
      });
    })
  </script>
</body>

</html>
